.source-list {
  padding: 0;
  margin: var(--size-4-4) 0;
  list-style: none;
  max-height: 300px;
  overflow-y: auto;
}

.source-list li {
  padding: var(--size-4-2) 0;
  border-bottom: var(--border-width) solid var(--color-base-30);
  display: flex;
  gap: var(--size-2-2);
  flex-direction: column;
}

.source-list li:last-child {
  border-bottom: 0;
}

.source-title {
  font-size: var(--font-ui-medium);
  font-weight: bold;
}

.source-author {
  font-size: var(--font-ui-smaller);
  color: var(--color-base-50);
}
